* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  background-color: yellow;
  height: 20vh;
  width: 100%;
  margin: 0px auto;
}
.navigation {
  height: 20vh;
  width: 100%;
  position: fixed;
  background-color: yellow;
  background-size: cover;
  background-position: center;
  list-style-type: none;
  margin: 0px;
  z-index: 1;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
ul li {
  margin-top: 40px;
  display: inline-block;
}
ul li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  border: solid 1px #fff transparent;
  border-radius: 10px;
  margin-left: 75px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s ease;
}
ul li a:hover,
ul li a:focus,
ul li a:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: black;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

ul li.active a {
  background-color: black;
  color: white;
}
.carousel {
  margin: 0px;
  margin-top: -19px;
  padding-top: 0px;
  background-color: goldenrod;
  height: 100vh;
}
.about {
  margin-top: 5vh;
  padding-top: 50px;
  height: 145vh;
  background-color: #ccbe00;
  padding-left: 150px;
  padding-right: 150px;
}
